<% questions.each do |q| %>
  <li class="question-item"
      data-department="<%= q.department_id %>"
      data-category="<%= q.question_category_id %>">
    <label>
      <input type="checkbox"
             name="visit[question_ids][]"
             value="<%= q.id %>"
             class="question-checkbox"
             <%= 'checked' if selected_question_ids.include?(q.id) %>>
      <%= q.content %>
    </label>
  </li>
<% end %>
