<%= form_with model: visit, method: :post do |f| %>
  <ul class="question-list">
    <%= f.collection_checkboxes(:question_ids, questions, :id, :content) do |b| %>
      <li class="question-item"
        data-department="<%= b.object.department_id %>"
        data-category="<%= b.object.question_category_id %>">
        <%= b.label { b.check_box + b.text } %>
      </li>
    <% end %>
  </ul>
<% end %>
