<%# 戻るボタン %>
<div class="d-flex justify-content-start">
  <%= link_to visits_path(date: @visit.visit_date), class: "btn btn-outline-secondary d-flex align-items-center back-button" do %>
    <i class="bi bi-arrow-left-circle-fill me-2"></i>
    戻る
  <% end %>
</div>

<h1 class="page-title text-center text-pink">質問を選ぶ</h1>

<%= render 'filter_form', visit_id: @visit.id %>

<%# メインコンテンツ %>
<div class="main-content">
  <%= form_with url: visit_question_selections_path(@visit), method: :post, html: { id: "questionForm" } do |f| %>
    <div class="question-card">
      <div class="question-header">
        <i class="bi bi-chat-text"></i>
        <span>該当する質問</span>
        <span class="question-count" id="question-count">(<%= @questions.size %>件)</span>
      </div>

      <div id="question-list">
        <ul class="question-list">
          <%= render partial: 'question_list', locals: { questions: @questions, selected_question_ids: @selected_question_ids } %>
        </ul>
      </div>
    </div>

    <%# 選んだ質問をみる %>
    <div class="form-actions text-center mt-3">
      <%= f.button :submit, class: "btn btn-violet btn-review-questions", id: "show-question-btn" do %>
        <i class="bi bi-list-check"></i>
        選んだ質問リストをみる
      <% end %>
     </div>

    <%# 選択数のカウント %>
    <div class="selected-counter text-center mt-2" id="selectedCounter">
      <i class="bi bi-check-circle-fill"></i>
      <span id="selectedCount">0</span>件選択中
    </div>
  <% end %>
</div>
