<%# 戻るボタン %>
<div class="d-flex justify-content-start">
  <%= link_to visits_path(date: @visit.visit_date), class: "btn btn-outline-secondary d-flex align-items-center back-button" do %>
    <i class="bi bi-arrow-left-circle-fill me-2"></i>
    戻る
  <% end %>
</div>

<h1 class="page-title text-center">質問を選ぶ</h1>

<%= render 'filter_form', visit_id: @visit.id %>

<%# メインコンテンツ %>
<div class="main-content">
  <%= form_with model: @visit, method: :post, local: true do |f| %>
    <div class="question-card">
      <div class="question-header">
        <i class="bi bi-chat-text"></i>
        <span>該当する質問</span>
        <span class="question-count" id="question-count">(<%= @questions.size %>件)</span>
      </div>

      <div id="question-list">
        <ul class="question-list">
          <%= render partial: 'question_list', locals: { visit: @visit, questions: @questions } %>
        </ul>
      </div>
    </div>

    <%= f.submit "次へ", class: "btn-pink" %>
  <% end %>
</div>
