<div class="visit-form-box">
  <div class="card-shadow p-4">
  <h2 class="text-center text-pink mb-4 mt-5">
    <%= @visit.persisted? ? "受診の予定を編集" : "受診の予定を追加" %>
  </h2>

  <%= form_with model: @visit, local: true do |f| %>
    <%= f.hidden_field :visit_date %>

    <div class="form-group">
      <%= f.label :hospital_name, "医療機関名" %>
      <%= f.select :hospital_name, options_for_select(["AA病院", "よりそいクリニック", "〇〇医療センター"], @visit.hospital_name), { prompt: "医療機関を選択"}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :appointed_at, "予約時間" %>
      <%= f.time_field :appointed_at, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :department_id, "診療科" %>
      <%= f.collection_select :department_id,
            @departments, :id, :name,
            { prompt: "診療科を選択" },
            { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.label :purpose, "目的" %>
      <%= f.select :purpose, options_for_select(["診察", "検査", "リハビリ"], @visit.purpose), { prompt: "目的を選択"}, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= f.check_box :has_recording, class: "form-check-input" %>
      <%= f.label :has_recording, "録音あり", class: "form-check-label" %>
    </div>

    <div class="form-group form-check">
      <%= f.check_box :has_document, class: "form-check-input" %>
      <%= f.label :has_document, "資料あり", class: "form-check-label" %>
    </div>

    <div class="form-group mt-3">
      <%= f.submit @visit.persisted? ? "更新" : "保存", class: "btn btn-violet" %>
      <%= link_to "キャンセル", root_path, class: "btn btn-pink" %>
    </div>
    <% end %>
  </div>
</div>
