<div class="visit-form-box">
  <div class="card-shadow p-4">

    <%# 戻るボタン %>
    <div class="d-flex justify-content-start">
      <%= link_to visits_path(date: @visit.visit_date),
                  class: "btn btn-outline-secondary d-flex align-items-center back-button" do %>
        <i class="bi bi-arrow-left-circle-fill me-2"></i>
        戻る
      <% end %>
    </div>

    <h2 class="text-center text-pink mb-3 mt-2">
      <%= @visit.persisted? ? "受診の予定を編集" : "受診の予定を追加" %>
    </h2>

    <%= form_with model: @visit, local: true do |f| %>
      <% if @visit.errors.any? %>
        <div class="alert alert-danger">
          <h4 class="mb-2">入力内容に誤りがあります</h4>
          <ul class="mb-0">
            <% @visit.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :visit_date %>

      <div class="form-group">
        <%= f.label :hospital_name, "医療機関名" %>
        <%= f.select :hospital_name,
              options_for_select(["AA病院", "よりそいクリニック", "〇〇医療センター"], @visit.hospital_name),
              { prompt: "医療機関を選択" },
              class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :appointed_at, "予約時間" %>
        <%= f.time_field :appointed_at, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :department_id, "診療科" %>
        <%= f.collection_select :department_id,
              @departments, :id, :name,
              { prompt: "診療科を選択" },
              { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :purpose, "目的" %>
        <%= f.select :purpose,
              options_for_select(["診察", "検査", "リハビリ"], @visit.purpose),
              { prompt: "目的を選択" },
              class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :memo, "メモ" %>
        <%= f.text_area :memo, class: "form-control" %>
      </div>

      <div class="form-group mt-3">
        <%= f.submit @visit.persisted? ? "更新" : "保存", class: "btn btn-violet" %>
        <%= link_to "キャンセル", root_path, class: "btn btn-pink-override" %>
      </div>
    <% end %>

  </div>
</div>
