<% if visits.any? %> <%# 一つ以上予定があったら %>
  <% visits.each do |visit| %> <%#  visitの各要素をを１つずつ処理%>
    <div class="visits-item mb-3 p-3 rounded shadow-sm bg-pink-light border-pink">
      <div> <%# 予定の表示用ボックスを作成する %>
        <strong><%= visit.hospital_name %></strong><br><%# 病院名を表示 %>
        <span class="text-muted"><strong>受診予定日：</strong><%= visit.visit_date.strftime("%Y年%m月%d日") %></span><br> <%# 通院日を日本語の日付形式で表示（薄い文字色） %>
        <span class="text-muted"><strong>診療科：</strong><%= visit.department&.name || "(未登録)" %></span><br>
        <span class="text-muted"><strong>受診時間：</strong><%= visit.appointed_at.strftime("%-H時%M分") %></span><br>
        <strong>受診目的：</strong><%= visit.purpose %><br> <%# 目的 %>

        <%# メモ %>
        <% if visit.memo.present? %>
        <div class="mt-2">
            <strong>メモ：</strong>
            <div class="memo-content text-muted">
                <%= simple_format(visit.memo) %>
              </div>
          </div>
          <% else %>
            <div class="mt-2 text-muted"><strong>メモ：</strong>(未登録)</div>
          <% end %>
      </div>

      <%# 録音、資料 %>
      <div class="mt-2 text-muted small">
          <strong>録音を聴く：</strong>
          <% if visit.recording&.audio_file&.attached? %>
            <audio controls>
              <source src="<%= rails_blob_path(visit.recording.audio_file, disposition: "attachment") %>"
                      type="<%= visit.recording.audio_file.content_type %>">
            </audio>
          <% else %>
            なし
          <% end %>

      <div class="action-buttons mt-2">
          <%= link_to '編集', edit_visit_path(visit), class: "btn btn-outline-pink" %>
          <%= button_to '削除', visit_path(visit), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-pink" %>
          <%= link_to '質問管理画面へ行く', visit_question_selections_path(visit, page: 'list'), class: "btn btn-violet" %>
          <% unless visit.recording.present? %>
            <%= link_to '診察中に録音をする', new_visit_recording_path(visit), data: { turbo: false }, class: "btn btn-green" %>
          <% end %>
          <%= link_to '受診に関する画像を管理する', new_visit_document_path(visit), data: { turbo: false }, class: "btn btn-pink-override" %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="text-muted text-center">予定がありません</p> <%# 予定がない場合の表示 %>
<% end %>
