<% if visits.any? %> <%# 一つ以上予定があったら %>
  <% visits.each do |visit| %> <%#  visitの各要素をを１つずつ処理%>
    <div class="visits-item mb-3 p-3 rounded shadow-sm bg-pink-light border-pink">
      <div> <%# 予定の表示用ボックスを作成する %>
       <strong><%= visit.hospital_name %></strong><br><%# 病院名を表示 %>
        <span class="text-muted"><%= visit.visit_date.strftime("%Y年%m月%d日") %></span>: <%# 通院日を日本語の日付形式で表示（薄い文字色） %>
        <%= visit.purpose %> <%# 目的 %>
      </div>
        <div class="mt-2">
          <%= link_to '編集', main_app.edit_visit_path(visit), class: "btn btn-sm btn-outline-pink me-2" %>
          <%= button_to '削除', visit_path(visit), method: :delete, data: { turbo_confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-outline-pink" %>
        </div>
      </div>
  <% end %>
<% else %>
  <p class="text-muted">予定がありません。</p> <%# 予定がない場合の表示 %>
<% end %>
