<h1><%= @notification.user.name %> さん</h1>

<p>以下の内容で受診予定が登録されました。</p>

<ul>
  <li>病院名： <%= @visit.hospital_name %></li>
  <li>診療科： <%= @visit.department.name if @visit.department.present? %></li>
  <li>受診日： <%= @visit.visit_date.strftime("%Y年%-m月%-d日") %></li>
  <li>受診目的： <%= @visit.purpose %></li>
  <li>予約時間： <%= @visit.appointed_at.strftime("%H:%M") %></li>
</ul>

<p>引き続き、よりそいノートアプリをご利用ください。</p>
