<h1><%= @notification.user.name %> さん</h1>

<p>明日が受診予定日ですので、ご案内いたします。</p>

<ul>
  <li>病院名： <%= @visit.hospital_name %></li>
  <li>受診日： <%= @visit.visit_date.strftime("%-m月%-d日") %></li>
  <li>目的： <%= @visit.purpose %></li>
  <li>時間： <%= @visit.appointed_at.strftime("%H:%M") %></li>
</ul>

<p>ログインをして詳細を確認してください：
  <%= link_to "こちらから確認できます",
  root_url %>
</p>
