<h1><%= @user.name %> さん</h1>
<p>次回の受診予定についてご案内いたします。</p>

<ul>
  <li>病院名： <%= @visit.hospital_name %></li>
  <li>受診日： <%= @visit.visit_date %></li>
  <li>目的： <%= @visit.purpose %></li>
</ul>

<p>ログインをして詳細を確認してください： <%= link_to "こちらから確認できます。", root_url %></p>
