<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Yorisoi Note2" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <%# cdnからでないと、カレンダーが正常に読み込まれない %>
    
    <!-- CDNから読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <%# <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.9/index.global.min.js"></script> %>



    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "/js/calendar.js" %>
    <%= javascript_include_tag "/js/locales-all.global.js"%>

  </head>

  <body>
    <%# ログインユーザー表示 %>
    <% if user_signed_in? %>
      <div class="login-user-banner">
        <p>こんにちは、<strong><%= current_user.name %></strong>さん</p>
        <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-pink btn-sm' %>
      </div>
    <% end %>
      <% flash.each do |key, message| %>
        <div class="flash-message flash-<%= key %>alert alert-dismissible fade show" role="alert" >
          <%= message %>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>



